@import 'src/styles/main';

.write-form {
  width: 100%;
  position: absolute;
  top: 40px;
  & p {
    @include font(14, $accent);
    padding: 0 8px;
    font-weight: bold;
    height: 24px;
    margin: 0 auto;
  }
}

.submit {
  position: fixed;
  bottom: 0;
}

@include responsive(Tablet) {
}

@include responsive(Desktop) {
}
