@import 'src/styles/main';

.tag {
  @include font(12, $white);
  padding: 4px 8px;
  font-weight: bold;
  background-color: $pink;
  border-radius: 8px;
}

@include responsive(Tablet) {
  .menu {
    @include flexbox(center, center);
  }
}

@include responsive(Desktop) {
}
